<html>
<head>
    <title>
        DB Model Learning
    </title>
</head>
<body>
    {% if stud_list %}
    <table>
        <tr>
            <th>Student Number</th>
            <th>Student Name</th>
            <th>Student Class</th>
            <th>Student Address</th>
        </tr>
        {% for student in stud_list %}
        <tr>
            <td>{{ student.studno }}</td>
            <td>{{ student.studname }}</td>
            <td>{{ student.studclass }}</td>
            <td>{{ student.studaddress }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No students found.</p>
    {% endif %}
</body>
</html>
