<html>
    <head>
        <title>
            DB Model Learning
        </title>
    </head>
    <body>
        {% if stud_list %}
        <table>
            {% for student in stud_list %}
            <tr>
                <td>{{student.studno}}</td>
                <td>{{student.studname}}</td>
                <td>{{student.studclass}}</td>
                <td>{{student.studaddress}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>